@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Список лицевых счетов</h1>
    <button id="addButton" type="button" class="btn btn-success" style="margin-bottom:10px;margin-left:1016px;" onclick="openCreatePage()">Добавить</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Лицевой счет</th>
                <th scope="col">Дата начала действия</th>
                <th scope="col">Дата окончания действия</th>
                <th scope="col">Адрес</th>
                <th scope="col">Площадь помещения</th>
                <th scope="col">Проживающие</th>
            </tr>
        </thead>
        <tbody id="bankBookTable">
        </tbody>
    </table>
</div>

<script type="text/javascript">
    window.addEventListener('load', () => {
        getBankBooks();
    });

</script>